<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    <script src = "/static/main.js"> </script>
</head>

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
        $(document).ready ( async () => {
            //loading info about user via js and api
            var UserToken = getCookie("token")
            if (await IsLogged(UserToken)) {
                $("#LogoImage").attr("src", "/media/default.png");
                $("#UserName").text("Anonim")
            }
            else {
                var UserData = await UserDataGet(UserToken);
                console.log(UserData)
                $("#LogoImage").attr("src", `/media/${UserData.LogoPath}`);
                $("#UserName").text(`${UserData.UserId}`);
            }

            var NumOfMessages = ( await fetch("/api/messages/all") ).json().parse().length
            var NumOfTopic = ( await fetch("/api/topic/all") ).json().parse().length
            var NumsOfUsers = ( await fetch("/api/user/all") ).json().parse().length
            NumsOfUsers = ( await fetch("/api/user/all") ).json().parse()
            var Admin = ""
            for (var i = 0; i ++; i < NumsOfUsers.length) {
                if (NumsOfUsers[i].IsAdmin == 1) {
                    Admin = NumsOfUsers[i].UserId
                }
            }

            $("#ForumState").text(`There are ${NumOfMessages} messages in ${NumOfTopic} topics from ${NumsOfUsers} users. Admin is ${Admin}`)
            $(".brand").text(ForumData.ForumName)

    }

)
        </script>
        <header>
            <!--NavBar Section-->
            <div class="navbar">

                <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
                <div class="brand"></div>
            </div>
            <!--SearchBox Section-->

            <P id="ForumState"></P>

        </header>

            {% block bo_dy %}
            
            
            {% endblock bo_dy %}

    <footer style="position:fixed; bottom:0;">
        <span class="circle-image">
            <img  src="" width = "30" height = "30" id = "LogoImage"   />
        </span>
        <span style="margin-left:4px;" id="UserName"></span>
        <a href="/auth/log">|log in</a> <a href="/auth/reg">|reg in</a> <a href="/auth/dislog">|log out</a>
        
    </footer>

    </body>
</html>