<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
</head>

    <body>
        <header>
            <!--NavBar Section-->
            <div class="navbar">

                <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
                <div class="brand">{{forum}}</div>
            </div>
            <!--SearchBox Section-->


        </header>

            {% block bo_dy %}
            
            
            {% endblock bo_dy %}

    <footer style="position:fixed; bottom:0;">
        <span class="circle-image">
            <img  src="media/{{logo_path | default('default.png')}}" width = "30" height = "30"   />
        </span>
        <span style="margin-left:4px;">|{{user | default('Anonim')  }} </span>
        <a href="/auth/log">|log in</a> <a href="/auth/reg">|reg in</a>
        
    </footer>
    <script src="main.js"></script>

    </body>
</html>