
{% extends "base.html" %}



{% block bo_dy %}
            
    <p style="color:red">{{Text}}</p>
    <div class="reg-box">

        <form method="POST" action="/auth/log" enctype="multipart/form-data"> 
            <H3>Log in</H3>
            Enter you login
            <input name="login" type="text"><br>
            Enter you password
            <input name="password" type="text"><br>
            <input class="btn btn-oval"  type="submit" value="log in" />
            <br>
            <a href = "/auth/change_password">Forget password?</a>
        </form>
    
    </div>

   

{% endblock bo_dy %}






