
{% extends "base.html" %}

{% block bo_dy %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src = "/static/main.js"> </script>
<script src = "/static/snippet.js"> </script>
<script>

var socket = io();

socket.on('message', (msg) => {

    console.log(msg)

  if (msg.MessageData.TopicId === getQueryParam("id")) {
    console.log(msg.MessageData)
    document.getElementById("Msgs") += MsgSnippet(msgs.UserData, msg.MessageData.text);
  }
});

function SendMessage() {
  var form = document.querySelector('form');
  var messageInput = document.querySelector('input[name="Message"]');
  var message = messageInput.value;

  if (message.trim() === '') {
    alert('Enter a message before sending');
    return;
  }
  
  var topicIdInput = getQueryParam("id");
  var authTokenInput = getCookie("token");

  socket.emit("message", {
    "UserToken": authTokenInput,
    "ThreadId": topicIdInput,
    "Message": message
  });

  messageInput.value = '';
}
</script>


<script>
  //setting the "Delete Topic" link
  $(document).ready( async () => {
      $("#DeleteTopic").attr("href", "/DeleteTopic?id=" + getQueryParam("id"));


  //setting info about topic
  fetch(`/api/topic?TopicId=${getQueryParam("id")}`)

  .then(function (response) {
    return response.json();
  })
  .then(function (data) {

    console.log(data)

    //Inserting topic information using jQuery
    $("#TopicInfo").text(`${data.theme} | ${data.author} | ${data.about }`);

    //Inserting messages
    var HTMLcontent = ""
    data.Msgs.forEach( async (element) => {
      $("#Msgs").append( await MsgSnippet(element.author, element.text));
    });


    }
  );

});


  </script>





<p style="color:red;" id="error"></p>
<a href= "/DeleteTopic" id="DeleteTopic">Delete Topic</a>
<p id=""></p>
<form method="POST" enctype="multipart/form-data" onsubmit = "return  UserDataGet(getCookie('token')) == '0' "> 
  <label for="Message">Write your message</label>
  <input name="Message" type="text">

  <input name="TopicId" type="hidden" value="">

  <input name="AuthToken" type="hidden" value="">

</form>

<div class="navigate">
  <span id="TopicInfo"></span>
</div>

<div id = "Msgs">

</div>

<hr>

{% endblock bo_dy %}
