
{% extends "base.html" %}

{% block bo_dy %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
</script>
<script src="/static/main.js"></script>
<script src="/static/snippet.js"></script>
<script>

$.ajax(
    {
        url:`/api/user?UserId=${getQueryParam("id")}`,
        success: (data) => {
            var UserInfoElem = $("#UserData")
            var AkkImg = `<img src="/media/${data.LogoPath}" id="UserProfilePic">`
            $('body').append(AkkImg)
            if (data.IsAdmin == "1") {
                UserInfoElem.append(`<p id='UserNameProfileAdmin'>${data.UserId}</p>`)
            } else { // Fixed: Use 'else' instead of 'else ('
                UserInfoElem.append(`<p id='UserNameProfile'>${data.UserId}</p>`)
            }
            UserInfoElem.append(`<p>Quote: ${data.citate}</p>`)
            UserInfoElem.append(`<p>Email: ${data.email} </p>`)
            UserInfoElem.append(`<p>Number of posts on forum: ${data.NumOfPosts} </p>`)
            UserInfoElem.append(`<p>Is banned: ${data.IsBanned} </p>`)
            UserInfoElem.append(`<p>Is admin: ${data.IsAdmin} </p>`)
            UserInfoElem.append(`<p>Time of registration ${data.time}</p>`)
        },
        dataType:'json'
    }
);


</script>

<body>

<hr>

<div id="UserData">

</div>

</body>


{% endblock bo_dy %}
