
{% extends "base.html" %}

{% block bo_dy %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
</script>
<script src="/static/main.js"></script>
<script src="/static/snippet.js"></script>
<script>

$(document).ready(


  async () => {

    //loading user data

    var UserData = await ( await fetch( `/api/user?UserId=${ getQueryParam("id") }` ) ).json()
    $("#UserData").append($(`<img src="/media/${UserData.LogoPath}" >`))
    $("#UserData").append($(`<p>${UserData.UserId}</p>`))


  }

);



</script>

<body>

<hr>

<div id="UserData">



</div>

</body>


{% endblock bo_dy %}
