
{% extends "base.html" %}



{% block bo_dy %}
    <script src="/static/topic_create_script.js"></script>
    <div class="reg-box">

        <br>
        <form method="post" enctype="multipart/form-data" id="CreateTopicForm" action="/topic/create">
            Enter theme of new topic
            <input name="theme" type = "text" required><br>
            Enter description of you topic
            <input name="about" type = "text" required ><br>
            Protected (only author can write messages):
            <input type="checkbox" name = "protected" >yes <p>
            <input class="btn btn-oval"  type="submit" value="Create  Topic" required />
            <input type="file" name="pictures" id = "file_input" required>
            <br>

        </form>
    
    </div>

   

{% endblock bo_dy %}






