
{% extends "base.html" %}

{% block bo_dy %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
<script src="/static/snippet.js"></script>
<script src="/static/forum_scripts.js"></script>
<script src="/static/topic_script.js"></script>

<p style="color:red;" id="error"></p>
<form method="POST" enctype="multipart/form-data" id="MsgForm">
  Write your message
  <input id="MsgInput" name="Message" type="text" required>
  <input id="FileInput" type="file" >
  <input type="submit" value="Send Message">
</form>
<button id = "TopicDelete">delete topic</button>
<hr>
<div class="navigate">
  <span id="TopicInfo"></span>
</div>

<div id="Msgs"></div>



{% endblock bo_dy %}
